@model IEnumerable<enzo_estoque.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos <a class="btn btn-sm btn-secondary" role="button" href='@Url.Action("Create","Produtos", new { id = "produtosCriar"})'>Criar</a></h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstoqueInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoBase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstoqueInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoBase)
        </td>
        <td>
            <a class="btn btn-sm btn-secondary" role="button" href='@Url.Action("Edit","Produtos", new { id = item.ID})'> <span data-feather="edit">Editar</span></a>
            <a class="btn btn-sm btn-secondary" role="button" href='@Url.Action("Details","Produtos", new { id = item.ID})'> <span data-feather="menu">Detalhes</span></a>
            <a class="btn btn-sm btn-secondary" role="button" href='@Url.Action("Delete","Produtos", new { id = item.ID})'> <span data-feather="trash">Detalhes</span></a>
        </td>
    </tr>
}

</table>
