@model IEnumerable<enzo_estoque.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<div>
    <h2 class="card-title">Produtos
        <a class="btn btn-sm btn-outline-secondary" role="button" href='@Url.Action("Create","Produtos", new { id = "createLink"})'>
            Adicionar
        </a>
    </h2>
</div>

<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Qtd Estoque
        </th>
        <th>
            Preço base
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstoqueInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoBase)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
